body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 2.5em;
	color: #333;
	background-color: #CCC;
	left: 0px;
}
.insertimage {
	float: left;
	border: 10px solid #999;
	padding: 25px;
	background-color: #CCC;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 25px;
	margin-left: 0px;
}
.tabs {
	background-color: #666;
	width: 25px;
	text-transform: uppercase;
	border: medium outset #999;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #FFF;
}
td {
	color: #FFF;
}
a {
	color: #FFF;
}
.tab2 {
	background-color: #999;
	width: 25px;
	border: medium outset #CCC;
	color: #FFF;
	text-transform: uppercase;
	font-family: "Arial Black", Gadget, sans-serif;
}
.tab3 {
	background-color: #999;
	width: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	color: #FFF;
	border: medium outset #CCC;
}
.tab4 {
	background-color: #999;
	width: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	color: #FFF;
	border: medium outset #CCC;
}
.submenu {
	background-color: #999;
	color: #333;
	font-size: 16px;
	line-height: 2.5em;
	vertical-align: top;
	width: 250px;
	border: thick ridge #666;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
}
.background {
	background-color: #000;
	right: auto;
	bottom: auto;
	left: auto;
	clip: rect(auto,auto,auto,auto);
	top: auto;
	padding-top: 0px;
	padding-right: 250px;
	padding-bottom: 250px;
	padding-left: 150px;
	background-image: url(images/Space-Picture-Desktop.jpg);
}
.body {
	background-color: #CCC;
	padding-left: 50px;
	vertical-align: top;
	border: thick ridge #666;
	left: 150px;
}
